/* DEFINE A COLOR PALETTE USING CSS VARIABLES

PROBABLY SWAP MENU DECORATION SPAN FOR FONTAWESOME
ICON AND DEAL WITH RESULTING STYLE FALLOUT

CHANGE COLUMN NUMBER ON TABLET/DESKTOP
 */

* {
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

h1 {
    font-size: 100px;
    font-weight: 200;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: goldenrod;

}

aside {
    color: black;
    font-weight: 200;
    font-size: 22px;
    font-style: italic;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    display: flex;
    background-color: lightgoldenrodyellow;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid goldenrod;
    margin-top: 10px;
}

fieldset {
    margin: 0;
    margin-top: 10px;
    display: flex;
    display: none;
    background-color: lightgoldenrodyellow;
    border: none;
}

fieldset input {
    margin-right: 4px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.mainbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.queryarea {
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.api-filters {
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    display: none;
    flex-direction: column;
}

.chrome-wrapper {
    columns: 2;
}

.categories label {
    display: flex;
}

.categories input {
    align-self: flex-start;
    margin-top: 2px;
}

.options-flex-wrapper {
    display: none;
}

.options-flex-wrapper fieldset legend {
    font-weight: 500;
}

.auth-options, .cors-options, .https-options {
    display: inline-block;
}

.auth-options label, .cors-options label, .https-options label {
    margin-right: 10px;
}

.results-area {
    width: 100%;
    padding-top: 20px;
}

.results-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.result {
    margin-bottom: 30px;
}

.result-options {
    display: flex;
}

.result-option {
    margin-right: 20px;
}

.option-name {
    font-weight: 700;
}

.nomatches {
    font-style: italic;
}

.hex {
    margin: 0;
    padding: 0;
}

.accordion-title {
    justify-self: flex-start;
}

.menu-icon {
    height: 0.5rem;
    pointer-events: none;
    right: 2em;
    width: 0.5rem;
    align-self: center;
    margin-left: auto;
    justify-self: flex-end;
}

.menu-icon_inactive {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: goldenrod;
    transform: translateY(-60%) rotate(45deg);
}

.menu-icon_active {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: goldenrod;
    transform: translateY(-60%) rotate(225deg);
}

.active, .menu-button:hover {
    background-color: lightgoldenrodyellow;
}

.menu-button:hover .menu-icon_inactive {
    border-color: goldenrod;
}


/* MEDIA QUERIES */


/* TABLET */
@media screen and (min-width: 720px) {

    .chrome-wrapper {
        columns: 3;
    }

    .options-flex-wrapper {
        display: flex;
        flex-direction: row;
    }

    .options-flex-wrapper fieldset {
        margin-right: 20px;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px) {

    .mainbar {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .chrome-wrapper {
        columns: 4;
    }

}